@charset "UTF-8";

.transition-group {
  position: relative;
}
.transition-group .container{
  position: absolute;
  left:0;top:0;bottom:0;right:0;
}

.fade-enter .fade-list .chat-desc{
  opacity: 1;
  transform: translateX(0) rotateZ(0);
}
.fade-enter .fade-list .chat-img {
  opacity: 1;
  transform: translateX(0) rotateZ(0);
}
.fade-enter .fade-list .chat-desc{
  opacity: 1;

  transform: translateX(0) rotateZ(0);
}
.fade-enter .btn-mypage {
  opacity: 1;
  transform: translateX(0) rotateZ(0);
}







.fade-enter-active .fade-list .chat-desc{
  opacity: 1;
  transform: translateX(-10%) rotateZ(0);
  transition: all 0.3s ease-in;
}
.fade-enter-active .chat-img {
  opacity: 1;
  transform: translateX(-20%) rotateZ(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.1s;
}
.fade-enter-active .btn-mypage {
  opacity: 1;
  transform: translateX(-20%) rotateZ(0);
  transition: all 0.3s ease-in;
}



.fade-exit-active .fade-list .chat-desc{
  opacity: 0;
  transform: translateX(-10%) rotateZ(0);
  transition: all 0.3s ease-in;
}
.fade-exit-active .chat-img {
  opacity: 0;
  transform: translateX(-20%) rotateZ(0);
  transition: all 0.3s ease-in;
}
.fade-exit-active .btn-mypage{
  opacity: 0;
  transform: translateX(-20%) rotateZ(0);
  transition: all 0.3s ease-in;
}
.fade-exit-active .btn-menu{
  opacity: 0;
  transition: all 0.3s ease-in;
}



.fade-enter .message-sender{
  opacity: 1;
  transform: translateX(0) rotateZ(0);
  transition: all 0.3s ease-in;
}
.fade-enter-active .message-sender {
  opacity: 1;
  transform: translateX(20%) rotateZ(0);
  transition: all 0.3s ease-in;
}

.fade-exit .message-sender{
  opacity: 0;
  transform: translateX(20%) rotateZ(0);
  transition: all 0.3s ease-in;
}

.fade-exit-active .message-sender{
  opacity: 1;
  transform: translateX(0) rotateZ(0);
  transition: all 0.3s ease-in;
}


